@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #18181b;
    --border: #e4e4e7;
    --ring: #a1a1aa;
    --radius: 0.625rem;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
